<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background_container">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item-group *ngFor = "let contatos of lista_contatos">
      <ion-item lines="none">{{contatos.getNome()}}</ion-item>
      <ion-item lines="none">{{contatos.getFone()}}</ion-item>
      <ion-item lines="none">{{contatos.getSexo()}}</ion-item>
      <ion-item>{{contatos.getDataNascimento()}}</ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
