<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background_container">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="editar()">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="primary" (click)="exit_account()">
      <ion-icon name="exit"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-list>
    <ion-item-group >
      <ion-item lines="inset">
        <ion-label position="fixed">Nome</ion-label>
        {{conta_user.getNome()}}
      </ion-item>
      
      <ion-item lines="inset">
        <ion-label position="fixed">Apelido</ion-label>
        {{conta_user.getApelido()}}
      </ion-item>
      <ion-item lines="inset">
        <ion-label position="fixed">Idade</ion-label>
        {{conta_user.getIdade()}}
      </ion-item>
      <ion-item lines="inset">
        <ion-label position="fixed">Biografia</ion-label>
        {{conta_user.getBiografia()}}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
