<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background_container">
  <h1>Clique no nome de algum jogo para obter mais informações sobre ele.</h1>
  <ion-list>
    <ion-item-group *ngFor = "let jogos of lista_jogos">
      <ion-item (click)="expandir(jogos)" lines="inset">{{jogos.getNome()}}</ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
