<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar-se</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <form [formGroup]= "_formCadastrar" (ngSubmit) = "submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input type ="email" formControlName = "email"></ion-input>
      </ion-item>

      <span *ngIf="_isSubmitted && errorControl.email.errors?.required">
      email é obrigatório
      </span>

      <span *ngIf="_isSubmitted && errorControl.email.errors?.email">
        Formato de email inválido
      </span>

      <ion-item>
        <ion-label position="floating"> Senha </ion-label>
        <ion-input type ="password" formControlName = "senha" ></ion-input>

        <span *ngIf="_isSubmitted && errorControl.senha.errors?.required">
          Senha é Obrigatória
        </span>

        <span *ngIf="_isSubmitted && errorControl.senha.errors?.minlength">
          Necessário no mínimo 6 caracteres
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Confirmar Senha </ion-label>
        <ion-input type ="password" formControlName = "confSenha" ></ion-input>

        <span *ngIf="_isSubmitted && errorControl.senha.errors?.required">
          prencher a confirmação de senha
        </span>

        <span *ngIf="_isSubmitted && errorControl.senha.errors?.minlength">
          A  confirmação de senha necessita no mínimo 6 caracteres
        </span>

        <span *ngIf="_isSubmitted && errorControl.senha.errors?.confirmedValidator">
          Senhas não coincidem
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Nome </ion-label>
        <ion-input type ="text" formControlName = "nome" ></ion-input>

        <span *ngIf="_isSubmitted && errorControl.nome.errors?.required">
          Nome Obrigatório
        </span>

        <span *ngIf="_isSubmitted && errorControl.nome.errors?.minLength">
          O nome deve ter no mínimo 3 caracteres
        </span>

        <span *ngIf="_isSubmitted && errorControl.nome.errors?.maxlength">
          O nome pode conter até 16 caracteres
        </span>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Apelido </ion-label>
        <ion-input type ="text" formControlName = "apelido" ></ion-input>

        <span *ngIf="_isSubmitted && errorControl.apelido.errors?.required">
          Apelido Obrigatório
        </span>

        <span *ngIf="_isSubmitted && errorControl.apelido.errors?.minLength">
          O apelido deve ter no mínimo 3 caracteres
        </span>

        <span *ngIf="_isSubmitted && errorControl.apelido.errors?.maxlength">
          O apelido pode conter até 16 caracteres
        </span>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating"> Idade </ion-label>
        <ion-input type ="number" formControlName = "idade" ></ion-input>

        <span *ngIf="_isSubmitted && errorControl.idade.errors?.required">
          Idade Obrigatória
        </span>

        <span *ngIf="_isSubmitted && errorControl.idade.errors?.maxlength">
          A idade deve conter até 3 dígitos
        </span>
      </ion-item>

      <ion-button expand="full"  color = "success" type = "submit"> Cadastrar
        <ion-icon name="create"></ion-icon></ion-button>
      </form>
    </ion-list>
</ion-content>