<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background_container">
  <ion-list>
    <ion-item-group *ngFor = "let jogos of lista_jogos">
      <ion-item lines="inset">{{jogos.getNome()}}
        <ion-button slot="end" color="dark" (click)="delete_game(jogos)">
          <ion-icon name="close-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>