<ion-header>
  <ion-toolbar>
    <ion-title>Signin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <form [formGroup]= "_formLogar" (ngSubmit) = "submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating"> Email </ion-label>
        <ion-input type ="email" formControlName = "email"></ion-input>
      </ion-item>

      <span *ngIf="_isSubmitted && errorControl.email.errors?.required">
      email é obrigatório
      </span>

      <span *ngIf="_isSubmitted && errorControl.email.errors?.email">
        Formato de email inválido
      </span>

        <ion-label position="floating"> Senha </ion-label>
        <ion-input type ="password" formControlName = "senha" ></ion-input>
        <span *ngIf="_isSubmitted && errorControl.senha.errors?.required">
          Senha é Obrigatória
        </span>
        <span *ngIf="_isSubmitted && errorControl.senha.errors?.minlength">
        Necessário no mínimo 6 caracteres
        </span>

        <ion-button expand="full"  color = "success" type = "submit"> Entrar
         <ion-icon name="log-in"></ion-icon></ion-button>
        <ion-button expand="full"  color = "danger" (click)= "_signInGoogle()">
         Entrar com Google
         <ion-icon slot = "end" name="logo-google"></ion-icon>
         </ion-button>
      </form>
      <a (click)="_irParaSignUp()">Não tem Cadastro? Clique aqui</a>
    </ion-list>
</ion-content>